.pictures-container {
  width: 120%;
}
.picture-500 {
  height: 500px;
  width: 500px;
}

.picture-450 {
  height: 450px;
  width: 450px;
}

.picture-400 {
  height: 400px;
  width: 400px;
}

.picture-350 {
  height: 350px;
  width: 350px;
}

.picture-300 {
  height: 300px;
  width: 300px;
}

.splash {
  height: 270px;
}

